<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Новая книга</title>
</head>
<body>
<p>Добавить новую книгу: </p>
<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label for="title"> Введите название книги: </label>
    <input th:type="text"  th:field="*{title}" id = "title">
    <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"> Title error</div>
    <br/>
    <br/>
    <label for="author"> Введите автора книги: </label>
    <input th:type="text"  th:field="*{author}" id = "author">
    <div th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author error</div>
    <br/>
    <br/>
    <label for="year"> Введите год издания книги: </label>
    <input th:type="text"  th:field="*{year}" id = "year">
    <div th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year error </div>
    <br/>
    <br/>

    <button type="submit">Добавить новую книгу!</button>
</form>

</body>

<style>
    body {
        font-family: 'Roboto', sans-serif;
    }
input:focus {
 background: red;
}
</style>
</html>