<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Книга</title>
</head>
<body>
<div class="container">
<p th:text="${book.title +', '+book.author +', '+book.year}"> VALUE </p>
<div th:if="${owner}">
    <p>Эта книга сейчас у:</p>
    <p th:text="${owner.fullName}">VALUE</p>
    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.id})}">
        <input type="submit" value="Освободить книгу">
    </form>
    <br/>
</div>
<div th:if="${people}">
    <span>Эта книга свободна. Кому назначить ее?</span>
    <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
        <label for="person">Выберите человека</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getFullName()}">
            </option>
        </select>
        <input type="submit" value="Назначить книгу"/>
        <hr/>
    </form>

</div>

<br/>

<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>
<br/>
<hr/>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
<style>

    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    body {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }

    h1 {
        margin-bottom: 0px;
        text-align: center;
    }


    a {
        text-decoration: unset;
        color: black;
        margin-left: 20px;
    }

</style>
</div>
</body>
</html>

<!--или книга свободна и тогда предложить назначить -> тут select
или книга занята и тогда предложить освободить-->